.imagen{
    position: relative;
    padding-bottom:10px;
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    opacity:1;
    image-rendering: pixelated;
    transition: opacity 3s ease-in-out;
  }
  .imagenuno{
    position: relative;
    padding-bottom:10px;
    width:100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    opacity:1;
    image-rendering: pixelated;
  }
  .imagen:hover{ 
        opacity: 0.3;
  }
  .redondeada{
    position: relative;
    padding-bottom:10px;
    width:100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
  }
  .imagen:hover{ 
        opacity: 0.3;
  }
  .texto{
    font-size: 20pt!important;
  }
.texto2{
  font-size: 20pt!important;
  color: antiquewhite;
}
  .red{
    font-size: 30pt!important;
    background-color: orange!important;
  }

  .sinbackground{
    font-size: 12pt!important;
    color:black!important;
  }
 .sangre{
  color:brown;
 }
 .blanco{
 color:white;
 }