.container {
    position: relative;
    width:100%;
    
  }
  
  .container img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  a{
    color:black;
  }
  .container .btn {
    position: absolute;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color:black;
    font-size:30px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius:25px;
    text-align: center;
    width:fit-content;
  }
  .link{
    color:pink;
  }
  

  .container .btn1:hover {
    background-color: black;
  }